<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member ship form</title>
</head>
<body>
    <h1>Become a Member!</h1>
    <p>I start with a "C",
        I'm full of class,
        You instantiate me,
        And give me a pass.

        I'm not a function,
        But I do get called,
        With new I arrive 
        By this.

        What am I?</p>

    <form action="/membership" method="POST">
        <label for="secret">Take a Guess!</label>
        <input type="text" name="secret" id="secret">
        <button type="submit">Enter</button>
    </form>
</body>
</html>